.app-title {
    text-align: center;
    background-image: linear-gradient(to right,blue,rgb(10, 10, 88));
    color: white;
    padding: 25px;
}

.bottom-border {
    border-bottom: 3px solid black;
    border-radius: .3rem;
}

.bottom-margin {
    margin-bottom: 1.25rem;
}

.card-header {
    color: black;
    margin-bottom: 1.25rem;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.btn {
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border: black, solid;
    border-radius: 5px;
    color: white;
    background-color: blue;
    transform: translate(-1px, -1px);
}

.title {
    justify-content: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.title p {
    margin-bottom: 0.2rem;
    font-size: 1.2rem
}

.temp {
    font-size: 2.6rem;
    margin-bottom: 1rem
}

.header {
    color: #dddddd
}

.icon {
    align-self: flex-end;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999
}

.icon img {
    width: 5rem
}
